live/application/logs
live/application/cache
live/application/config/database.php
live/application/config/config.php
live/application/config/development/database.php
live/application/config/production/database.php
live/application/config/email.php
.DS_Store
live/images
live/uploads
live/vendor/**/.git
live/vendor/**/**/.git