/*@import url(../vendor/open-sans/open-sans.css);*/

html {
	height:100%;
	min-height:100%;
}

body {
	margin:0 auto;
	/*background:#4fb1d8;
	color: #fff*/
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'proxima-nova', sans-serif;
	/*background: url(../images/backg_welcome_ii.jpg);*/
	background: #1F466A url(../images/welcome_img.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
	color: #39aae2;
}

p {
	font-weight: 300;
    line-height: 1.4em;
    font-size: 14px;
}
.no-fixed {
  position: absolute;
  height: auto;
}
.pure-button {
	border-radius: 0;
}

.menu-icon {
	background: url(../icon/menu-strip.png);
	content: "";
  	display: inline-block;
  	width: 25px;
  	height: 22px;
}


.backlogin{
	background: url(../images/Backg_login_reg.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.back404{
	/*background: url(../images/back_404_ii.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	*/
	background: #EDF7F9  url(../images/404_Error_page_iii.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.no-background {
	background: #fff;
	height: auto;
}

.grids {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.txt-primary {
	color: #2b89b9;
}

.txt-secondary {
	color: #1f8ab5;
}

.m0{
	margin: 0;
}

.p10 {
	padding: 10px;
}

.alert {
  padding: 0 5px;
  color: #fff;
  margin: 0 0 10px;
}
.alert h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 2px 0px 0px;
    text-transform: uppercase;
}
.alert p {
      margin: 0px;
  padding: 0;
  font-size: 12px;
}
.alert .close{
  text-align: right;
  vertical-align: middle;
  line-height: 48px;
}

.alert.success {
    background: #59ba81;
}

.alert.error,
.alert.danger{
    background: #ed584c;
}

p.error {
    color: #ed584c;
    margin: 0 0px 10px;
}

.alert.warning {
    background: #fab737;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
	color: #B94A48;
	background-color: #fff;
	border: 1px solid #e9322d !important;
}

.parsley-errors-list {
  	margin: 5px 0 5px;
  	padding: 0;
  	list-style-type: none;
  	font-size: 0.9em;
  	line-height: 0.9em;
  	letter-spacing: 0;
  	opacity: 0;
  	color: rgb(233, 50, 45);
  	text-align: left;	
  	transition: all .3s ease-in;
  	-o-transition: all .3s ease-in;
  	-moz-transition: all .3s ease-in;
  	-webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.pure-g,
.pure-g [class *= "pure-u"] {
	font-family: 'proxima-nova', sans-serif;
}

input {
	color: #939393;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
   color: #2dabde;
   font-weight: 300;
}

.container {
  	max-width: 1170px; margin:0 auto;  
  	padding-left: 0.83333rem;
  	padding-right: 0.83333rem;
}

/*********************button********************/

.button-xsmall,.frm-xsmall {
    font-size: 70%;
}

.button-small,.frm-small {
    font-size: 85%;
}

.button-large,.frm-large {
    font-size: 110%;
}

.button-xlarge,.frm-xlarge {
    font-size: 125%;
}

.btn-primary {
	background:#2b89b9;
	color: #fff;
}

.btn-secondary {
	background: #0f4e7c;
	color: #fff;
	border:1px solid #0f4e7c;
}

.btn-border-prim {
	background: #fff;
	border:3px solid #2dabde;
	color: #2dabde;
}

/********************form**********************/
.pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"],.pure-form textarea {
  	border: 1px solid #ccc;
  	box-shadow: none;
  	border-radius: 0px;
  	-webkit-transition: .2s;
  	transition: .2s;
}

.pure-form .border-blue {
	border:1px solid #2dabde !important;
}

.frm-icon {
	position: relative;
}

.frm-icon input {
	padding-left: 2em !important;
}

.frm-icon span {
	position: absolute;
    top: 9px;
    left: 8px;
    font-size: 18px;
    color: #939393;
}

.frm-icon input:focus + span,
.frm-icon:focus{
  color: #39AAE1 !important;
}

.frm-icon-user {
	  background: url(../icon/user-icn.png) no-repeat left #FFF; 
	  background-position: 7px;
	  padding-left: 2em !important;
}
.frm-icon-pass {
	  background: url(../icon/password-icn.png) no-repeat left #FFF; 
	  background-position: 7px;
	  padding-left: 2em !important;
}

.frm-select {
	  background: url(../icon/arrow.jpg) no-repeat right #FFF;
}

.frm-select select {
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    width: 100%;
    background: transparent;
}

.pure-form legend {
    color: #939393;
    border-bottom: 0;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid,
.pure-form input:focus,
.pure-form textarea:focus,
.pure-form select:focus {
	border-color: #2b89b9;
	color: #2b89b9;
}

/********************header********************/
#header {
	background: #fff;
	border-bottom: 2px solid #f2f0f1;
}


.logos {
	width: 35%;
}

.menus {
	width: 65%;
}

.menu-mobile {
	display: none;
}

.logo {
	padding: 15px 0px;
	width: 124px;
}

.title {
	margin-bottom: 40px;
}

.title span {
	border-bottom: 3px solid #2b89b9;
}

/********************menu**********************/

#menu {
    float: right;
}

#menu ul {
	list-style-type: none;
}

#menu li {
    display: inline-block;  
    padding: 15px 45px 0px 0px;
}

#menu li a {
    font-weight: 400;
    color: #2b89b9;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: .2s;
	transition: .2s;
}

#menu li a:hover,
#menu li a.active {
	color: #0f4e7c;
}

#menu li.btn-menu {
	padding: 0;
}

#menu li.btn-menu a {
	border: 2px solid #2b89b9;
	padding: 5px 20px;
	-webkit-transition: .2s;
	transition: .2s;
}

#menu li.btn-menu a:hover,
#menu li.btn-menu a.active {
	background: #2b89b9;
    color: #fff;
}

.menu-left {
	background: #164e81;
	min-height: 100vh;
	margin-top: 85px;
}

.pure-menu-link, .pure-menu-disabled, .pure-menu-heading {
  	padding: 1.2em 1em;
}

.pure-menu-heading {
  	color: #fff;
  	background: #114473;
  	font-size: 18px;
    padding: 1.5em 1em;
}

.pure-menu-link {
  	color: #FFF;
  	font-size: 18px;
    padding: 1.5em 1em;
}

.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
  	color: #164e81;
  	border-left: 1px solid #F2F0F1;
}

.pure-menu-selected, .pure-menu-active > .pure-menu-link, .pure-menu-link:hover {
  	background-color: #fff;
  	color: #39aae2;
}

.menu-mobile {
	text-align: right;
  	font-size: 25px;
}

.menu-mobile .toggle-nav {
	color: #939393;
    height: 50px;
    padding: 25px 0px 0px;
    cursor: pointer;
    width: 45px;
    float: right;
}

/**************welcome-screen***********/

/*
#welcome-screen {
	display: table;
	max-width: 800px;
	margin: 0 auto;
	color: #fff;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);

}

#welcome-screen h2 {
	font-weight: 300;
	font-size: 48px;
}

#welcome-screen .small {
	font-size: 18px;
	margin-bottom: 100px;
}
*/


#welcome-screen {
 	overflow: auto;
  	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	color: #fff;
}

#welcome-screen .container {
	width: 80%;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}

#welcome-screen .content {
    /*top: 0; left: 0; bottom: 0; right: 0;	text-align: center;
    margin-top: 90px;  */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    padding: 20px;
    color: white;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

#welcome-screen h2 {
	font-weight: 300;
	font-size: 48px;
}

#welcome-screen .small {
	font-size: 22px;
  	margin-bottom: 100px;
  	font-weight: 300;
}



.register-form {
	max-width:540px;margin:0 auto
}

.register-form input {
	width:100%;
	padding: 15px !important;
	color: #0f4e7c;
}

.email-form ::-webkit-input-placeholder { color:#0f4e7c; }
.email-form ::-moz-placeholder { color:#0f4e7c; }
.email-form :-ms-input-placeholder { color:#0f4e7c; }
.email-form input:-moz-placeholder { color:#0f4e7c; }


.register-form button {
	padding: 16px;
}


.forgot:hover {
	text-decoration: underline;
}
/***************login & register**************/

.txt-form-login {
	font-weight: 600;
}

.heading {
	font-weight: 600;
	font-size: 24px;
	padding: 20px 0px
}

.txt-h1 {
	font-size: 24px;
	font-weight: 400;
}

.txt-h3 {
	font-size: 18px;
	font-weight: 600;
}

.bg-frame {
	max-width: 310px;
  	margin: 0 auto;
  	padding: 45px 50px;
  	background: #fff;
  	border: 1px solid #eaeaea;
  	/*
  	border-top: 1px solid #eaeaea;
  	border-left: 1px solid #eaeaea;
  	border-right: 1px solid #eaeaea;
  	border-bottom: 4px solid #2089b6;*/
  	text-align: left;
}
.bg-frame input {
	margin-bottom: 20px;
	margin-top: -1px;
	width: 100%
}

.bg-frame input:-webkit-autofill {
    background-color: white !important;
}

.bg-frame span a {
	margin-left: 10px;
	color: #585858;
}


#login-page {
	/*position: relative;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	bring your own prefixes 
  	transform: translate(-50%, -50%);*/
  	overflow: auto;
  	margin: auto;
  	/*position: absolute;*/
  	top: 0; left: 0; bottom: 0; right: 0;
}

#login-page .content,
#page-404 .content {
	/*position: absolute;**/
    /*top: 0; left: 0; bottom: 0; right: 0;	text-align: center;
    margin-top: 90px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    color: white;
    text-align: center;
    width: 100%;
  
}

#page-404 {
	overflow: auto;
  	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
}

/*#page-404 .content {
    margin-top: 90px;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
}
*/
#page-content {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#page-content .content {
	width: 60%;
	margin:0 auto;
}

#page-content .content p {
	color: #939393;
	margin-bottom: 30px;
}


.footer {
	position: fixed;
    bottom: 0;
    left: 0;
   	width:100%;
   	background:#fff;
   	letter-spacing: 0 !important;
   	color: #fff;
   	font-size: 12px;
}
.footer a {
	color: #fff;
}
.footer p {
    font-weight: 300;
    line-height: normal;
    font-size: 12px;
    color: #0f4e7c;
}

/**
.footer.w-map {
	height: 225px;
}
**/

.info-blue,
.info-blue-dark,
.info-dyned {
	height:180px;
	font-size: 14px;
}
.info-blue div{
	margin: 3rem 0rem 0 20%;
	display: inline-block;
}

.info-blue-dark div{
	margin: 3rem 20%;
	display: inline-block;
}


.info-dyned div {
	margin: 3rem 10%;    
	display: inline-block;
}

.info-blue div h3,
.info-dyned div h3 {
	margin:0;
}

.info-blue a:hover {
	text-decoration: underline;
}

.info-blue {
	background:#2b89b9;
}

.info-blue-dark {
	background:#2fabdf
}

.info-dyned {
	background:#1E6395 url('../images/about_img.png') no-repeat;
	background-size: cover;
}

.link-footer {
	text-align: right;
}

.list-footer ul {
	list-style: none;
}
.list-footer li {
	display: inline-block;
}
.list-footer li a {
	text-decoration: none;
	color: #0f4e7c;
	padding: 10px;
	text-transform: uppercase;
}

#site-wrapper {
  	position: relative;
  	overflow: hidden;
  	width: 100%;
  	height: 100%;
  	min-height: 100vh;
}
#site-canvas {
  	width: 100%;
  	height: 100%;
  	min-height: 100vh;
  	position: relative;
  	
  	-webkit-transform: translateX(0);
  	transform: translateX(0);
  
  	-webkit-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
  
  	-webkit-transition: 300ms ease all;
  	transition: 300ms ease all;
 
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}
.show-nav #site-canvas {
  	-webkit-transform: translateX(-265px);
  	transform: translateX(-265px);
  
  	-webkit-transform: translate3d(-265px, 0, 0);
  	transform: translate3d(-265px, 0, 0);
}
#site-menu {
	width: 265px;
	height: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: -265px;
	background: #164e81;
}

.box404 {
	background:#2dabde;
	display: inline-block;
	margin: 0 auto;
	width: 80px;
	height: 70px;
	text-align: center;
}

.box404 span {
    color: #fff;display: inline-block;
    font-size: 28px;
    font-weight: 600;
	margin-top: 20px;
}    


/*.404-text {

}*/

@media screen and (min-width: 691px){
	.show-nav #site-canvas {
  		-webkit-transform: none; /* Safari and Chrome */
       	-moz-transform: none; /* Firefox */
        -ms-transform: none; /* IE 9 */
         -o-transform: none; /* Opera */
            transform: none;
	}
	#site-menu {
		display: none;
	}
}

@media screen and (max-width: 920px){
	#menu li {
    	padding: 15px 15px 0px;
	}
}

@media screen and (max-width: 768px) { 
	
	.content {
		/*margin-top: 135px !important;*/
  		margin-bottom: 70px;
	}

	#page-content .content {
		margin-top: 0 !important;
  		margin-bottom: 70px;
  		width: 80%;
	}

	.footer {
		font-size: 	12px;
	}
	.footer.w-map {
		/*height: 215px;*/
		position: relative;
	}
	.copyright,
	.link-footer {
		width: 	100%;
		text-align: center;
	}

	.copyright p {
		margin: 5px;
  		
	}
	.list-footer ul {
	  list-style: none;
	  margin: 6px;
	  padding: 0;
	}
	.list-footer li a {
		padding: 5px;
	}
}

@media screen and (max-width: 690px) { 
	.menu {
		display: none
	}
	.menu-mobile {
		display: inline-block;
	}
	#login-page .content,
	#welcome-screen .content,
	#page-404 .content {
		position: relative;
		left:0;
		top: 0;
		-webkit-transform: none; /* Safari and Chrome */
       	-moz-transform: none; /* Firefox */
        -ms-transform: none; /* IE 9 */
         -o-transform: none; /* Opera */
            transform: none;
		height: 340px;
	}

	#page-404 .content {
		margin-top: 40px;
	}

	.logos {
		width: 72%;
	}

	.menus-mobile {
		width: 28%;
	}
}

@media screen and (max-width: 568px) {
	/*
	.footer.w-map {
	    height: 600px;
	}*/
	.info-blue div,
	.info-blue-dark div,
	.info-dyned div{
		margin: 1rem 10%;
	}
} 

@media screen and (max-width: 414px) { 
	#welcome-screen h2 {
		font-size: 32px;
	}

	#welcome-screen .small {
	  	font-size: 12px;
	  	margin-bottom: 15px;
	}
	.content {
		width: 99%;
		/*margin-top: 80px !important;*/
		font-size: 12px;
	}
	.txt-h1 {
		font-size: 22px;
	}
	.txt-h3 {
		font-size: 16px;
	}
	.bg-frame {
		padding: 20px;
  		max-width: 280px;
	}
	.bg-frame input {
		width: 100%;
  		margin-bottom: 15px !important;
  		padding: 5px
	}
	.frm-icon-user,
	.frm-icon-pass {
		padding-left: 2.5em !important;
	}
	.frm-icon span {
		font-size: 14px;
    	top: 7px;
    	left: 6px;
	}
}

@media screen and (max-width: 320px) {
	
	#welcome-screen h2 {
		font-size: 32px;
	}

	#welcome-screen .small {
	  	font-size: 12px;
	  	margin-bottom: 15px;
	}
	#login-page .content,
	#welcome-screen .content,
	#page-404 .content {
		width: 90%;
		padding: 0;
	}
	
	/*#welcome-screen .content {
		    margin-bottom: 180px;
    margin-top: 75px;
	}*/

	#login-page .content{
		width: 85%;
		padding: 25px;
	}
	.content {
		width: 99%;
		/*margin-top: -10px !important;*/
		font-size: 12px;
	}
	.txt-h1 {
		font-size: 22px;
	}
	.txt-h3 {
		font-size: 16px;
	}
	.bg-frame {
		padding: 20px;
  		max-width: 222px;
	}
	.bg-frame input {
		width: 100%;
  		margin-bottom: 15px !important;
  		padding: 5px
	}
	.frm-icon-user,
	.frm-icon-pass {
		padding-left: 2.5em !important;
	}
	/*
	.footer.w-map {
		height: 620px;
	}*/
}


/** IPHONE 5 landscape **/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 588px) 
and (orientation : landscape) {
	.bg-frame {
		padding: 15px;
  		max-width: 315px;
	}
	.bg-frame input {
		width: 100%;
  		margin-bottom: 15px !important;
  		padding: 5px
	}
	.content {
		margin-top: 0 !important;
		margin-bottom: 70px;
	}
	.frm-icon-user,
	.frm-icon-pass {
		padding-left: 2.5em !important;
	}
	.frm-icon span {
	    font-size: 14px;
	    top: 7px;
	    left: 6px;
	}
	#welcome-screen h2 {
		font-size: 32px;
	}

	#welcome-screen .small {
	  	font-size: 12px;
	  	margin-bottom: 15px;
	}
	#login-page .content {
		padding-top: 20px;
	}
}




/** IPHONE 6 PLUS landscape **/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
	#welcome-screen h2 {
		font-size: 32px;
	}

	#welcome-screen .small {
	  	font-size: 12px;
	  	margin-bottom: 15px;
	}
	.bg-frame {
		padding: 15px;
  		max-width: 315px;
	}
	.bg-frame input {
		width: 100%;
  		margin-bottom: 15px !important;
  		padding: 5px
	}
	.content {
		margin-top: 0 !important;
		margin-bottom: 70px;
	}
	.frm-icon-user,
	.frm-icon-pass {
		padding-left: 2.5em !important;
	}
}

/** IPHONE 6 landscape **/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
	#welcome-screen h2 {
		font-size: 32px;
	}

	#welcome-screen .small {
	  	font-size: 12px;
	  	margin-bottom: 15px;
	}
	.bg-frame {
		padding: 15px;
  		max-width: 315px;
	}
	.bg-frame input {
		width: 100%;
  		margin-bottom: 15px !important;
  		padding: 5px
	}
	.content {
		margin-top: 0 !important;
		margin-bottom: 70px;
	}
	.frm-icon-user,
	.frm-icon-pass {
		padding-left: 2.5em !important;
	}
}

/** IPHONE 6 landscape **/
@media only screen 
and (min-device-width : 441px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
	.footer {
	  /*height: 55px;*/
	  font-size: 12px;
	}
}		


/** IPHONE 4 landscape **/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 533px) 
and (orientation : landscape) {

	.logo {
	  padding: 10px 0px;
	}
	
	.content {
		width: 99%;
  		/*margin-top: 5px !important;*/
  		font-size: 12px;
  		margin-bottom: 60px;
	}
	.txt-h1 {
		font-size: 18px;
  		margin: 5px;
	}
	.txt-h3 {
		font-size: 16px;
	}
	.bg-frame {
		padding: 15px;
  		max-width: 315px;
	}
	.bg-frame input {
		width: 100%;
  		margin-bottom: 15px !important;
  		padding: 5px
	}
	.frm-icon-user,
	.frm-icon-pass {
		padding-left: 2.5em !important;
	}
}	