<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /lab/misoya/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lab/misoya/index.php [L]
</IfModule>